@model ContractViewer.Models.ContractViewModel
@using GridMvc.Html

@{
    ViewBag.Title = "ContractDetail";


}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        
        
        <h2>Detail smlouvy</h2>

        <h4>Smlouva <a href="@Model.Contract.Uri"> @Model.Contract.Uri </a></h4>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-offset-1">       
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Contract.Document)
            </dt>

            <dd>
                <a href=@HttpUtility.UrlPathEncode(Model.Contract.Document)>@Model.Contract.Document</a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.ContractId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.ContractId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.Version)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.Version)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.Publisher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.Publisher)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.ContractType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.ContractType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.Anonymised)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.Anonymised)
            </dd>
        </dl>
    </div>

    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Contract.Competency)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.Competency)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.AwardId)
            </dt>

            <dd>
                <a href=@HttpUtility.UrlPathEncode(Model.Contract.AwardUrl)>@Model.Contract.AwardId</a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.DateSigned)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.DateSigned)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.ValidFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.ValidFrom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.ValidUntil)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.ValidUntil)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.Currency)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.Currency)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.AmountNoVat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.AmountNoVat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contract.Amount)
            </dd>
        </dl>
    </div>
</div>

<div class="row">  
    <div class="col-md-10  col-md-offset-1">
        <div class="row" style="@(Model.Parties.Any() ? "display:block" : "display:none")">
            <hr />
            <h4>Smluvní strany</h4>
            @Html.Grid(Model.Parties).Columns(columns => columns.Add(model => model.ID)
        .Titled("IČ")
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(d => !String.IsNullOrEmpty(d.ID) ? Html.ActionLink(d.ID, "PublicContracts", new { d.Name, d.ID }) : MvcHtmlString.Create(string.Empty))).AutoGenerateColumns().WithPaging(10).Sortable().Filterable()
        </div>

        <div class="row" style="@(Model.Attachments.Any() ? "display:block" : "display:none")">
            <hr />
            <h4>Přílohy</h4>
            @Html.Grid(Model.Attachments).Columns(columns => columns.Add(model => model.Document)
        .Titled("Dokument")
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(d => @<a href=@HttpUtility.UrlPathEncode(d.Document)>@d.Document</a> )).AutoGenerateColumns().WithPaging(10).Sortable().Filterable()
        </div>

        <div class="row" style="@(Model.Amendments.Any() ? "display:block" : "display:none")">
            <hr />
            <h4>Dodatky</h4>
            @Html.Grid(Model.Amendments).Columns(columns => columns.Add(model => model.Document)
        .Titled("Dokument")
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(d => @<a href=@HttpUtility.UrlPathEncode(d.Document)>@d.Document</a> )).AutoGenerateColumns().WithPaging(10).Sortable().Filterable()
        </div>

        <div class="row" style="@(Model.Milestones.Any() ? "display:block" : "display:none")">
            <hr/>
            <h4>Milníky</h4>
            @Html.Grid(Model.Milestones).AutoGenerateColumns().WithPaging(10).Sortable().Filterable()
        </div>

        <div class="row" style="@(Model.Versions.Any() ? "display:block" : "display:none")">
            <hr />
            <h4>Verze smlouvy</h4>
            @Html.Grid(Model.Versions).Columns(columns =>
            {
                columns.Add(model => model.VersionOrder).Titled("Číslo verze");
                columns.Add(model => model.Issued).Titled("Datum publikace").Format("{0:dd/MM/yyyy hh:mm:ss}");
                columns.Add(model => model.Uri).Titled("Identifikátor verze")
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(d => @<a href=@HttpUtility.UrlPathEncode(d.Uri)>@d.Uri</a> );

            }).WithPaging(10).Sortable().Filterable()
        </div>
    </div>
</div>



