@model ContractViewer.Models.PublisherViewModel
@using System.Globalization
@using ContractViewer.Utils
@using GridMvc.Html
@using GridMvc.Sorting

@{
    ViewBag.Title = "SubjectDetail";
}

@* Contract properties, PublisherId property (IČ) is linked to PublicContracts view *@

<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <h2>Město @Html.DisplayFor(model => model.Publisher.Name)</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-4  col-md-offset-1">

        @{
            if (!String.IsNullOrEmpty(Model.Publisher.ImageUrl))
            {
                <img class="img-thumbnail" alt="" src="@Url.Content(Model.Publisher.ImageUrl)" />
            }
            else
            {
                @MvcHtmlString.Create(string.Empty)
            }
        }        

    </div>
    <div class="col-md-6">
        <div class="row">
            <h4> IČ - @{
                    if (!String.IsNullOrEmpty(Model.Publisher.Id))
                    {
                        @Html.ActionLink(Model.Publisher.Id + " (veřejné zakázky subjektu)", "PublicContracts", new { Model.Publisher.Name, ID = Model.Publisher.Id })
                    }
                    else
                    {
                        @MvcHtmlString.Create(string.Empty)
                    }

                }
            </h4>
        </div>
        <div class="row">
            @foreach (var localPlace in Model.Publisher.LocalPlaces)
            {
                <h4> Budova - @localPlace.StreetAddress PSČ @localPlace.PostalCode </h4>

                <h5> Otevírací doba </h5>

                <dl class="dl-horizontal">
                    @foreach (var openingHourOfTheDay in localPlace.OpeningHours)
                {
                        <dt>
                            @openingHourOfTheDay.Key.ToName()
                        </dt>

                        <dd>
                            @foreach (var openingHour in openingHourOfTheDay.Value)
                            {
                                <text>@openingHour.Open.ToString(@"hh\:mm") - @openingHour.Close.ToString(@"hh\:mm") </text>
                            }
                        </dd>
                    }
                </dl>
            }

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10  col-md-offset-1">
        <hr />
        <h4>Seznam smluv</h4>
        <div>

        @* Grid - list of contracts, first column is linked to ContractDetail view *@

        @Html.Grid(Model.Contracts).Columns(columns =>
        {
            columns.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(d =>
                    @<b>
                        @Html.ActionLink("Detail", "ContractDetail", new {d.BaseDomain, d.ContractId, d.Version, d.Publisher})
                    </b>);

            columns.Add(model => model.ContractId).Titled("Lok. Id");
            columns.Add(model => model.Version).Titled("Verze");
            columns.Add(model => model.ContractType).Titled("Typ smlouvy");
            columns.Add(model => model.Title).Titled("Předmět");
            columns.Add(model => model.DateSigned).Titled("Datum vystavení").Format("{0:dd.MM.yyyy}").SetWidth(100).SortInitialDirection(GridSortDirection.Descending);
            columns.Add(model => model.ValidFrom).Titled("Datum účinnosti").Format("{0:dd.MM.yyyy}").SetWidth(100);
            columns.Add(model => model.ValidUntil).Titled("Konec účinnosti").Format("{0:dd.MM.yyyy}").SetWidth(100);
            columns.Add(model => model.Amount).Titled("Částka vč. DPH").Encoded(false).Sanitized(false).RenderValueAs(d => @<div class="text-right"> @d.Amount.ToString("N", CultureInfo.CreateSpecificCulture("cs-CZ")) </div>).SetWidth(120);


        }).WithPaging(10).Sortable().Filterable().WithGridItemsCount("Počet nalezených smluv")
        </div>
    </div>
</div>

